@import '../scss/var';

@mixin hoverEffect {
    color: $main-color;
    background: $text-color;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
}

@mixin myBtn {
    background: $prymary-color;
    padding: .8rem 3.2rem;
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    color: $text-color;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border: none;
    border-radius: 4.5rem;
    outline: none;
    cursor: pointer;
}
@mixin  contentCenter ($value) {
    display: flex;
    justify-content: center;
    align-items: $value;
    flex-direction: column;
}