@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

a, a:hover {
  text-decoration: none;
}

.header {
  width: 100vw;
  line-height: 8rem;
  background: #0a183d;
}

.header .navbar-brand {
  color: #fff;
  -webkit-animation: music 1s linear infinite alternate;
          animation: music 1s linear infinite alternate;
}

.header .navbar-brand .fas {
  color: #fff;
  font-size: 4rem;
}

@-webkit-keyframes music {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes music {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.header .navbar-brand:hover {
  -webkit-filter: drop-shadow(0px 8px 15px rgba(240, 240, 235, 0.4));
          filter: drop-shadow(0px 8px 15px rgba(240, 240, 235, 0.4));
}

.header .navbar-nav {
  padding-left: 15rem;
}

.header .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-right: 3rem;
}

.header .navbar-nav .nav-item:last-child > .nav-link {
  padding-right: 0rem;
}

.header .nav-item:hover > .nav-link,
.header .navbar-brand:hover,
.header .navbar-brand:hover > .fas {
  color: #b71540;
}

.header .my-btn {
  background: #b71540;
  padding: .8rem 3.2rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 4.5rem;
  outline: none;
  cursor: pointer;
}

.header .my-btn:hover {
  color: #0a183d;
  background: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
}

.main-header {
  height: 80vh;
  width: 100%;
  background: #0a183d;
}

.main-header-text {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header-text h3 {
  color: #fff;
  font-size: 7rem;
  margin-bottom: 3rem;
  line-height: 150%;
  font-weight: 600;
}

.main-header-text h3 span {
  color: #b71540;
}

.main-header-text p {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.main-header-text .main-header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-header-text .main-header-btn a {
  background: #b71540;
  padding: .8rem 3.2rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 4.5rem;
  outline: none;
  cursor: pointer;
}

.main-header-text .main-header-btn a:hover {
  color: #0a183d;
  background: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
}

.main-header-text .main-header-btn #btn-2 {
  margin-left: 2rem;
  background: rgba(255, 255, 157, 0.4);
}

.main-header-text .main-header-btn #btn-2:hover {
  color: #0a183d;
  background: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
}

.main-header-img {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: anime 2s linear infinite alternate;
          animation: anime 2s linear infinite alternate;
}

.main-header-img img {
  -webkit-filter: drop-shadow(1rem 1rem rgba(0, 0, 0, 0.8));
          filter: drop-shadow(1rem 1rem rgba(0, 0, 0, 0.8));
}

@-webkit-keyframes anime {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anime {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .header {
    line-height: 3rem;
    text-align: center;
  }
  .header .navbar-nav {
    padding-left: 3rem;
  }
  .header .navbar-nav .nav-item .nav-link {
    padding-right: 0%;
  }
  .navbar .navbar-toggler {
    border-color: rgba(255, 255, 157, 0.4);
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    background: seashell;
    height: 1px;
  }
  .main-header-text h3 {
    font-size: 3.5rem;
  }
  .main-header-text p {
    font-size: 1.1rem;
  }
  .main-header-text .main-header-btn {
    display: block;
    margin: 0 auto;
  }
  .main-header-text .main-header-btn a {
    display: block;
    text-align: center;
  }
  .main-header-text .main-header-btn #btn-2 {
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .main-header-img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */